@use '../utilities' as *;

html {
    box-sizing: border-box;
    font-size: var(--global-font-size);

    &:focus-within { scroll-behavior: smooth; }
}

::selection {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    /* 
        * Some users might use high-contrast theme to navigate websites, therefore without
        * removing outline and instead setting it's color to "transparent", users can then
        * see what element is focused.
        * Once the theme has been changed, browser will change previously defined colors,
        * transparent color is now changed to some other color but outline is still present.
    */
    outline-color: transparent;
}


body {
    font-family: VT323, system-ui, sans-serif;
    font-size: 1rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    user-select: none;
    transition: background-color .3s ease-in-out;

    &.light-theme {
        background-color: var(--color-white);

        h2, span { color: var(--color-primary); }
    }

    #root {
        min-height: 100vh;

        .App {
            display: grid;
            grid-template-rows: 1fr auto 1fr;
            justify-content: center;
            min-height: inherit;

            .hashmap {
                grid-row: 2 / 3;
                max-width: pxToRem(325px);
            }
        }
    }
}

/* 
    * Some users might not want to see animations on page,
    * media query provided for their preference.
*/
@media (prefers-reduced-motion: reduce) {
    html:focus-within { scroll-behavior: auto; }

    *,
    *::before,
    *::after {
        scroll-behavior: auto !important;
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}

@media (prefers-reduced-motion: no-preference) {}